<% layout('layouts/boilerplate') %> 
   <div class="container text-center py-5">
    <h1 class="display-4">Pricing</h1>
    <p class="lead">Explore which option is right for you.</p>
   </div>
   <div class="container text-center">
       <div class="row row-cols-1 row-cols-md-3">
           <div class="col mb-4">
            <div class="card shadow-sm">
                <div class="card-header">
                    <h4>Free</h4>
     
                </div>
                <div class="class-body">
                 <h1 class="my-0 font-weight-normal">$0<small class="text-muted">/mo</small></h1>
                 <ul class="list-unstyled mt-3 mb-4">
                     <li>10 users included</li>
                     <li>2GB of storage</li>
                     <li>Email service</li>
                     <li>Help center access</li>
                 </ul>
                 <button class="btn btn-outline-primary btn-lg btn-block mb-4">
                     Sign up
                 </button>
                </div>
            </div>
           </div>
           <div class="col mb-4">
            <div class="card shadow-lg">
                <div class="card-header">
                    <h4>Pro</h4>
     
                </div>
                <div class="class-body">
                 <h1 class="my-0 font-weight-normal">$0<small class="text-muted">/mo</small></h1>
                 <ul class="list-unstyled mt-3 mb-4">
                     <li>10 users included</li>
                     <li>2GB of storage</li>
                     <li>Email service</li>
                     <li>Help center access</li>
                 </ul>
                 <button class="btn btn-outline-primary btn-lg btn-block mb-4">
                    Sign up
                </button>
                </div>
            </div>
           </div>
           <div class="col mb-4">
            <div class="card shadow-sm">
                <div class="card-header">
                    <h4>Business</h4>
     
                </div>
                <div class="class-body">
                 <h1 class="my-0 font-weight-normal">$100<small class="text-muted">/mo</small></h1>
                 <ul class="list-unstyled mt-3 mb-4">
                     <li>10 users included</li>
                     <li>2GB of storage</li>
                     <li>Email service</li>
                     <li>Help center access</li>
                 </ul>
                 <button class="btn btn-outline-primary btn-lg btn-block mb-4">
                    Sign up
                </button>
                </div>
            </div>
           </div>
       </div>
   </div>

  <div class="container">
    <table class="table">
        <!-- Table head -->
        <thead>
          <tr>
            <th></th>
            <th><</i>Free</th>
            <th><</i>Pro</th>
            <th><i </i>Business</th>
          </tr>
        </thead>
        <!-- Table head -->
      
        <!-- Table body -->
        <tbody>
          <tr>
            <th scope="row">UNLIMITED CARDS</th>
            <td>&#10004;</td>
            <td>&#10004;</td>
            <td>&#10004;</td>
          </tr>
          <tr>
            <th scope="row">ASSIGNEE AND DUE DATES</th>
            <td>&#10004;</td>
            <td>&#10004;</td>
            <td>&#10004;</td>
          </tr>
          <tr>
            <th scope="row">
                <p>IOS AND ANDROID MOBILE APPS</p>
                <a href="" >Download mobile apps</a>
    
            </th>
            <td>&#10004;</td>
            <td>&#10004;</td>
            <td>&#10004;</td>
          </tr>
          <tr>
            <th scope="row">
                <p>DESKTOP APP</p>
                <a href="">   Download desktop app</a>
            </th>
            <td>&#10004;</td>
            <td>&#10004;</td>
            <td>&#10004;</td>
          </tr>
          <tr>
            <th scope="row">2-FACTOR AUTHENTICATION</th>
            <td></td>
            <td>&#10004;</td>
            <td>&#10004;</td>
          </tr>
          <tr>
            <th scope="row">UNLIMITED COMMAND RUNS</th>
            <td></td>
            <td></td>
            <td>&#10004;</td>
          </tr>
          <tr>
            <th scope="row">UNLIMITED WORKSPACES</th>
            <td></td>
            <td></td>
            <td>&#10004;</td>
          </tr>
          <tr>
            <th scope="row">ATTACHMENT RESTRICTIONS</th>
            <td></td>
            <td></td>
            <td>&#10004;</td>
          </tr>
        </tbody>
        <!-- Table body -->
      </table>
      <!-- Table  -->
  </div>