
  <% layout('layouts/boilerplate') %> 
  <h1><%= project.title %> </h1>
  
  <h3><%= project.description %> </h2>

  <h6 class="text-muted" >Last date of submittion: <%=project.lastDate %> </h3>

    <a href="/projects">Back to all projects</a>